.Locale-container{
  margin-bottom: 3%;
  width: 100%;
  background-color: #A5D6A7;
  border-radius: 16px;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.Title-Locale{
  color: white;
  margin:1rem;
  font-size: 28px;
  font-weight: 600;
}

.SubTitle-Locale{
  margin: 1rem;
  color: #1B5E20; /*#E8F5E9*/
  font-size: 22px;
}

.Button-container{
  margin: 1rem;
}

.action-button{
  margin-right: 2rem;
}

.isLegacyClass{
  background-color: #F27C62
}
